---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="404 - 아르카디아 브랜드 리소스 센터">
    <main class="p-20"><p class="font-bold text-3xl">404 : Not Found.</p></main></main>
    </main>
</Layout>